<div class="footer">
    <div class="fixed-bottom">
    <div class="container">
            <div class="col-sm-3">
                <a href="../index.php"><img src="../img/Devops-toolchain.svg" alt="devops loop" class="footer-image"></a>
            </div>
            <div class="col-sm-3">
                <h4>contact information</h4>
                <p>- name: Marek Culak</p>
                <p>- email: marek@culak.sk</p>
                <p>- phone: 0892586996</p>
            </div>
            <div class="col-sm-3">
                <h4>Links</h4>
                <ul>
                    <li><a class="links" href="/tools.php">Tools</a></li>
                    <li><a class="links" href="/devopsEngineerJob.php">Jobs</a></li>
                    <li><a class="links" href="/introduction.php">Introduction</a></li>
                    <li><a class="links" href="/simpleQuiz.php">Quiz</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="socialIcons">
                    <h4>social media</h4>
                    <a href="https://www.instagram.com/culakphoto/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://www.facebook.com/culakphoto/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="https://wa.me/421904012103"><ion-icon name="logo-whatsapp"></ion-icon></a>
                    <a href="https://culakphoto.mypixieset.com"><ion-icon name="globe-outline"></ion-icon></a>
                </div>
            </div>
    </div>
    </div>
</div>